body {
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7FF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #735290;
}